@charset "UTF-8";


#modal1{
	
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	width:800px;
	height:300px;
	z-index: 700;
	border: 2px solid #f6f8f8;
	background-color:#FFFFFF;
	
	
}

#mainPop{
	position:fixed; z-index:1;
	left:0px; top:0px; width:100%; height:100%;
	overflow:auto;
	background-color:rgba(051,051,153,0.5);
	display:none;
}
#popUp{
	background-color :#fefefe;
	margin:15% auto; padding:2px;
	width:20%;
	text-align:center;
}
#modal2{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	width:800px;
	height:300px;
	z-index: 700;
	border: 2px solid #f6f8f8;
	background-color:#FFFFFF;
	
}

#btnSearch{
	
	text-align:center;
	margin-left: 350px;
}
