@charset "UTF-8";

#popup {
	position: fixed;
	z-index: 1;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(102, 102, 102, 0.5);
	display: none;
}

#popup1 {
	background-color :#fefefe;
	margin:15% auto; padding:2px;
	width:20%;
	text-align:center;
}
