@charset "UTF-8";

body {
	background-color:#efeaf0;
	margin-top: 30px;
	margin-left:30px;
}
input[type=text] { 
 
    border-radius:10px;
    border:1px solid #efeaf0;
      
}

#backMakePro{
	
	font-family:Nanum Gothic;
	color:#4f5f86;
	
}

#makeProo{
	
	position:relative;
	top:20px;
}

input[name=prname] { 
 text-align:center;
   padding:7px;
   font-size:15px;
    border:1px solid #efeaf0;
      
}

input[type="date"] {
	  
   text-align:center;
   padding:7px;
   font-size:15px;
   border:1px solid #efeaf0;
   border-radius:10px;


}

textarea { 

   text-align:center;
   font-size:15px;
   resize:none;
   padding-top:20px;
   border:1px solid #efeaf0;
   border-radius:10px;
   margin-left:110px;
}


#backback{
	
	 width:100px; height:40px;
	 color:#bbbbbb;
	 padding-top:10px;
	 margin-left:248px;
	
}
#backback:hover{
       
    color:#FFFFFF; 
    background-color:#bbbbbb;
    
}

#imgToggle{
	
	width:400px;
	height:50px;
	margin-left:110px;
	margin-top:60px
}

#modal_background {
	
	position: fixed;
	z-index: 1;
	left: 0px;
	top: 0px;
	overflow: auto;
	width:100%;
	height:100%;
	backdrop-filter:blur(15px);
	display:none;
}

#forMargin{
	
	background-color:#4f5f86;
	color:white;
	font-size:25px;
	height:10%;
	padding-top:5px;
	
}
#modal_background2 {
	
	display: none;
	position : absolute;
	width: 100%;
	height:100%;
	background-color :rgba(0,0,0,0.7);
	top:0; left:0; z-index:1;
}
#modal_background3 {
	
	display: none;
	position : absolute;
	width: 100%;
	height:100%;
	background-color :rgba(0,0,0,0.7);
	top:0; left:0; z-index:1;
}


#modal_box {
	display: none;
	position : absolute;
	top : 50%; left : 50%;
	width: 600px; height: 500px;
	margin : -250px 0 0 -250px;
	background-color:#FFFFFF;
	text-align:center;
	border:2px solid #4f5f86;

}

#modal_box2 {
	display: none;
	position : absolute;
	top : 50%; left : 50%;
	width: 400px; height: 400px;
	margin : -250px 0 0 -250px;
	background-color :rgb(255,255,255);
	border-radius: 5px;
	z-index : 2;
}
#modal_box3 {
	display: none;
	position : absolute;
	top : 50%; left : 50%;
	width: 600px; height: 600px;
	margin : -250px 0 0 -250px;
	background-color :rgb(255,255,255);
	border-radius: 5px;
	z-index : 2;
}

#modal_close{
	width: 26px;
	height:26px;
	position: absolute;
	top: -30px;
	right: 0;
}
#modal_close> a{
	display:block;
	width: 100%;
	height: 100%;
}

#titles {
	font-size: 20px;
	border : 2px solid grey; border-radius : 5px;
	box-shadow: 5px 5px 8px 2px gray;
	padding-top : 10px; padding-bottom: 10px; margin-top : 50px;
}

.projectBox {
	border :0px solid grey; border-radius:20px;
	box-shadow : 5px 5px 8px 2px gray;
	width:350px; height:300px;
	margin: 60px;
	background-color: #fcfaff;
	/* display: inline-block; */
	float:left;
	cursor:pointer;
}
#parent {
	overflow:hidden;

}

#buttons { margin-left: 160px; margin-top:5px; }
#dates { text-align:right; margin-right:30px; }
#steptitle { font-size: 30px; font-weight: bold; margin:30px;  text-align: right;}
#circle { border-radius: 50%; width:50px; height:50px;} 
.buttonStyle{
	background-color:#4f5f86;
	color:#c0c5cd; 
	border-radius:10px; margin-right:3px;
}
.stepbuttonStyle {
	background-color:#4f5f86;
	color:#c0c5cd; 
	border-radius:10px; margin-right:3px; margin-top:3px;}

	


img{
	width:100px;
	height:70px;
	position:relative;
	right:20px;
}


#titleParent {overflow:hidden; margin-left:40%;}
#logo {float:left; }
#logoutBtn {float:left; margin-left:500px; margin-top:50px;}

#backPop {
	/*position: fixed;
	z-index: 1;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(102, 102, 102, 0.5);
	display: none;*/
	position: fixed;
	z-index: 1;
	left: 0px;
	top: 0px;
	overflow: auto;
	width:100%;
	height:100%;
	backdrop-filter:blur(15px);
	display:none;
	
	
}

.popup{
	background-color:#FFFFFF;
	margin:15% auto; padding:2px;
	width:50%;
	text-align:center;
	border:2px solid #4f5f86;
	
}


#makeProo{
	
	margin-top:20px;
	margin-bottom:20px;
	
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  vertical-align:middle;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

p {
	
	margin:0px;
	display:inline-block;
	font-size:15px;
	font-weight:bold;
	
}